<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evento</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <main >
    <section class="container-evento">
      <div id="detalle-evento">
        <img class="cargando" src="../img/carga.gif">
      </div>
      
    </section>
    <button id="volver">Volver</button>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/evento.js"></script>
    <script type="text/javascript" src="../js/models/eventoModelo.js"></script>
</main>

</body>
</html>
